@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import '@fontsource/italianno';
@import "tailwindcss";
@theme{
    --font-italianno: Italianno, cursive;
    --font-inter: Inter, sans-serif;
    --font-bebas: Bebas Neue, Inter, sans-serif;
    --color-headerBeige:rgb(245,245,245);
    --color-lightBeige:rgb(247,247,247);
    --color-secondaryBeige: rgb(200, 200, 200);
    --color-black:rgb(40,52,58);
    --color-blackHover:rgb(55, 70, 80);
    --color-blackCards:rgba(255, 255, 255, 0.05);
    --breakpoint-xl:150rem;
    --breakpoint-2xl:200rem;
}
@font-face {
  font-family: 'Italianno';
  src: url('/fonts/italianno.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.fade-in-hero {
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.visible {
    opacity: 1;
    transform: translateY(0);
}
.fade-in-hero.visible {
  opacity: 1;
}
.terminal-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .terminal-scrollbar::-webkit-scrollbar-track {
    background: rgb(40,52,58); 
    border-radius: 4px;
  }
  
  .terminal-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(40,52,58);
    border-radius: 4px;
  }
  
  .terminal-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #48bb78 #2d3748;
  }
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.6s ease-out forwards;
}

.about-fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.about-fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
.about-fade-in-hero {
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.about-fade-in-hero.visible {
  opacity: 1;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color: transparent !important;
  color: var(--color-lightBeige) !important; 
  -webkit-text-fill-color: var(--color-lightBeige) !important; 
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s; 
}
.fade-in-contact {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-contact.visible {
  opacity: 1;
  transform: translateY(0);
}
.fade-in-projects {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-projects.visible {
  opacity: 1;
  transform: translateY(0);
}